<div class="container my-5">
    <h1> <strong>Articles</strong> </h1>

    <!-- 
        kaya php

        <% test = "testing" %> 
        <h2> <%= test %> </h2>
    -->

    <div class="row">

        <% @articles.each do |result| %>

            <div class="col-md-6">
                <div class="card shadow text-center my-4">
                    <h5 class="card-header text-center font-weight-bold">
                        Featured
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title text-success"><%= result.title %></h5>
                        <!-- Fungsi truncate jika text kepanjangan maka akan di akhiri dengan ... -->
                        <p class="card-text"><%= truncate(result.description, length: 50) %></p>
                        <div class="d-flex justify-content-center">
                            <%= link_to "Detail", article_path(result.id), class: "btn btn-outline-primary" ,style: "cursor: pointer;" %>
                            <%= link_to "Edit", edit_article_path(result), class: "btn btn-outline-success" ,style: "cursor: pointer; margin: 0 7px 0 7px ;" %>
                            <!-- 
                                <%= link_to "Delete", result, class: "btn btn-outline-danger", data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' }, style: "cursor: pointer;" %>
                            -->
                            <%= link_to "Delete", result, class: "btn btn-outline-danger", data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' }, style: "cursor: pointer;" %>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Created <%= time_ago_in_words(result.created_at) %> Ago, Updated <%= time_ago_in_words(result.updated_at) %> Ago 
                    </div>
                </div>
            </div>

        <% end %>

    </div>

    <%= link_to "Create Article", new_article_path, class: "btn btn-primary", style: "cursor: pointer;" %>
</div>