

<h1>Title: <%= @article.title %></h1>
<h1>Description: <%= @article.description %></h1>

<%= link_to "Edit", edit_article_path(@article.id), style: "cursor: pointer; text-decoration: none; color: black;" %>
<%= link_to "Delete", @article, class: "btn-link" ,data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' }, style: "margin: 0 7px 0 7px ;cursor: pointer; text-decoration: none; color: black;" %>
<%= link_to "Return To List Articles", articles_path, style: "margin-left: 15px;" %>